<div class="container-fluid">
  <form #userForm="ngForm" [class.d-none]="!registration" (ngSubmit)="register(userForm.value)">
    <div class="form-group">
      <label for="fromName">Enter your userName</label>
      <input type="text" placeholder="enter yourName" name="fromName" id="fromName" ngModel class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
<!--  <form #chatForm="ngForm" (ngSubmit)="send(chatForm.value)" [class.d-none]="registration">-->
<!--    &lt;!&ndash;  <input type="text" placeholder="enter toName" name="toName" ngModel>&ndash;&gt;-->
<!--    <div class="from-group">-->
<!--      <label for="toName">Select the user you want to send message</label>-->
<!--      <select ngModel name="toName" id="toName" class="form-control">-->
<!--        <option *ngFor="let user of userList" [value]="user.name"> {{user.name}}</option>-->
<!--      </select>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <label for="content">Enter message content</label>-->
<!--      <input type="text" placeholder="enter your message" name="content" ngModel class="form-control" id="content">-->
<!--    </div>-->

<!--    <button type="submit" class="btn btn-primary">Send message</button>-->
<!--    <div class="from-group">-->
<!--      <label for="selectGroup">Select the user you want to send message</label>-->
<!--      <select ngModel name="groupName" id="selectGroup" class="form-control">-->
<!--        <option *ngFor="let group of groupList" [value]="group"> {{group}}</option>-->
<!--      </select>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <label for="groupContent">Enter message content</label>-->
<!--      <input type="text" placeholder="enter your message" name="groupContent" ngModel class="form-control" id="groupContent">-->
<!--    </div>-->
<!--    <button (click)="sendGroupMessage(chatForm.value)" class="btn btn-primary">Group Message</button>-->
<!--  </form>-->

<!--  <form #groupForm="ngForm" (ngSubmit)="createGroup(groupForm.value)" [class.d-none]="registration">-->
<!--    <div class="form-group">-->
<!--      <label for="groupName">Enter group name you want to create</label>-->
<!--      <input type="text" placeholder="enter group" name="groupName" id="groupName" ngModel class="form-control">-->
<!--    </div>-->
<!--    <button class="btn btn-primary" type="submit">Create group</button>-->
<!--  </form>-->

<!--  <form #joinGroup="ngForm" (ngSubmit)="join(joinGroup.value)" [class.d-none]="registration">-->
<!--    &lt;!&ndash;  <input type="text" placeholder="enter toName" name="toName" ngModel>&ndash;&gt;-->
<!--    <div class="from-group">-->
<!--      <label for="joinGroup">Select the group you want to join</label>-->
<!--      <select ngModel name="groupName" id="joinGroup" class="form-control">-->
<!--        <option *ngFor="let group of allGroups" [value]="group"> {{group}}</option>-->
<!--      </select>-->
<!--    </div>-->
<!--    <button type="submit" class="btn btn-primary">Join Group</button>-->

<!--  </form>-->


<!--  <div  *ngFor="let message of messageList">-->
<!--    <span>Message From:{{message.fromName}}</span>-->
<!--    <span>Message Content:{{message.content}}</span>-->
<!--  </div>-->
</div>

<app-chat [userName]="name" [class.d-none]="registration"></app-chat>


